body {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  .navbar {
    background-color: #1e1e1e !important;
  }
  
  
  .btn-danger {
    background-color: red !important;
    border-color: black !important;
    position: absolute; 
    bottom: 25%; 
    left: 95%;
    
  }
  
  textarea {
    background-color: #2c2c2c !important;
    color: #e0e0e0 !important;
  }
  
  label {
    color: #EB5719 !important;
  }
  
  .container {
    background-color: #1f1f1f;
    padding: 25px;
    border-radius: 8px;
  }
  
  .form-control {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #e0e0e0;;
  }
  